# ========================
# PYTHON
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
venv311/
env/
.venv/

# ========================
# LOGS
# ========================
logs/
*.log

# ========================
# DATA OUTPUT
# ========================
*.json
*.csv
*.xlsx

# ========================
# SESSION / COOKIE
# ========================
cookies_shopee.dat
*.pkl

# ========================
# IDE
# ========================
.vscode/
.idea/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db